@charset "utf-8";
/* CSS Document */
table.smallprint{border-top: solid 1px navy ;
		margin-top:20pt;				}

table.google{
		margin-top:0pt;  margin-bottom:0pt;				}
form.google{
		margin-top:0pt;  margin-bottom:0pt;				}
		
p.smallprint  {font-size: 8pt;
					margin-top:1pt;
					border-top: solid 1px navy }
					
p.address  {font-size: 11;
					margin-top:0pt;					
					margin-bottom:0pt;
					} 
p.hack  {} 		

h6.rhs {font-size: 13pt;
	   font-family: "Trebuchet MS", Verdana, Arial,    sans-serif;
	   border-top: solid 1px navy;
	   
	   margin-bottom:0pt;
	   margin-top:5pt;
	   }
	   		  
h6.rhsfirst	{font-size: 13pt;
	   font-family: "Trebuchet MS", Verdana, Arial,    sans-serif;
	   border-top: solid 1px navy;
	   margin-bottom:0pt;
	   margin-top:0pt;
	   }	
	   	  
div.email  {		font-size: 10pt;
					margin-top:1pt;margin-bottom:1pt;
					font-family: "Trebuchet MS", Verdana, Arial,    sans-serif}  	
div.blogrollmain {font-size: 9;}
div.blogrollfolder {font-size: 0pt; style: bold}

input.search {font-family:sans-serif; font-size:9pt;
 background:#ddeeff; color: #000; width:25px;height:25px}
 
div.flickrimg {align:right;}